body, html{
	background-image: url(../img/fondo2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #262626;
}

.navbar{
	border-radius: 0px;
}

#logo img{
	height: 25px;width: auto;
}

.carousel-inner img{
	width: 100%;
}
.carousel-inner{
	margin-top: -20px;
}
@media (max-width: 600px){
	.carousel-caption{
		display: none;
	}
}

a:link{ 
text-decoration:none; 
}

#titulo{
	background-color: black;
	margin-top: 15px;
	position: relative;
	border: none;
	transition:all .5s ease-in-out;
}
#descripcion{
	margin-left: 70px;
	margin-right: 70px;
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	color: white;
	margin-top: 100px;

}

.publi{
    position: relative;
    float: right;
    top: 18px;
    right: 105px;
}

#noticias{
	transition:all .2s ease-in-out;
}

#fecha{
	float: right;
	margin-right: 10px;
}

footer {
    background-color: #2d5986;
    color: white;
    text-align: center;
    font-family: Verdana,Helvetica;
}
footer ul{
    padding-left: 5px;
    list-style: none;
}
#iconos li{
	display: inline-block;
}
#mapa{
	margin-top: 10px;
	margin-bottom: 15px;
}
#localizar{
	background: #003366;
	border: 0px;
	border-radius: 6px;
}
#localizar:hover{
	background-color: #0066cc;
}

#publi1{
	width: 350px;
	height: 200px;
}

#botonCarga{
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 6px;
}
