.navbar{
	border-radius: 0px;
}

#logo img{
	height: 25px;width: auto;
}

.carousel-inner img{
	width: 100%;
}

.carousel-inner{
	margin-top: -20px;
}

@media (max-width: 600px){
	.carousel-caption{
		display: none;
	}
}

